<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">


</head>

<body>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/products">Products</a></li>
          <li class="nav-item"><a class="nav-link" href="/stock">Stock</a></li>
          <li class="nav-item"><a class="nav-link" href="/sales">Sales</a></li>
          <li class="nav-item">
            <button class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#addModal">+ Add</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <h1>My sales</h1>
    <table class="table">
        <thead>
            <tr>
                <td scope="col">Product Id</td>
                <td scope="col">Quantity</td>
                <td scope="col">Created At</td>

            </tr>
        </thead>
        <tbody>
            {% for sale in My_sales %}
            <tr>
                <td>{{sale[0]}}</td>
                <td>{{sale[1]}}</td>
                <td>{{sale[2]}}</td>
            </tr>
            {% endfor %}
        
        </tbody>
    </table>

</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
    integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
    crossorigin="anonymous"></script>

</html>